<h1>What two words you got?</h1>
<form action="/results">
  <div class="form-group">
    <label for="word">What is your first word?</label>
    <input type="text" name="word" required>
    <label for="anagram">Is your second word an anagram?</label>
    <input type="text" name="anagram" required>
  </div>
  <button type="submit" name="button" class="btn-success">Anagram?</button>
</form>
